body {
  background-color: lightyellow;
  color: black;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
}

div#menu {
  margin-bottom: 20px;
}

div#menu .otherNavigation{
  font-size: 75%;
}

label{
  display: block;
}

label[type=checkbox]{
  display: inline;
}

#resultSummaryEditor label{
  display: inline;
}

table.results{
  border-color: #600;
  border-width: 0 0 1px 1px;
  border-style: solid;
}

table.results td{
  border-color: #600;
  border-width: 1px 1px 0 0;
  border-style: solid;
  margin: 0;
  padding: 4px;
  background-color: #CCC;
}

table.results th{
  border-color: #600;
  border-width: 1px 1px 0 0;
  border-style: solid;
}


.small-button{
  font-size: 50%;
  font-weight: normal;
}


a, input[type=submit]{
  -webkit-appearance: button;
  -webkit-box-align: center;
  background-color: #DDD;
  border-bottom-color: #DDD;
  border-bottom-style: outset;
  border-bottom-width: 2px;
  border-left-color: #DDD;
  border-left-style: outset;
  border-left-width: 2px;
  border-right-color: #DDD;
  border-right-style: outset;
  border-right-width: 2px;
  border-top-color: #DDD;
  border-top-style: outset;
  border-top-width: 2px;
  box-sizing: border-box;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 24px;
  height: 34px;
  letter-spacing: normal;
  line-height: normal;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  overflow-y: visible;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 1px;
  vertical-align: baseline;
  text-decoration:none;
}

li{
  margin-bottom: 15px;
}
/* DesignView */
.question-definition{
  border-style: dotted;
  border-width: 1px;
  margin: 10px;
  margin-top: 32px;
}
.question-definition-controls{
  float: right;
}
.group{
  border-style: dotted;
  border-width: 1px;
}
body.all-advanced-hidden .advanced{
  display: none;
}

#loading{
  background: rgba(18, 82, 0, 0.5);
  color: white;
  position: fixed;
  top: 100px;
  right: 10px;
  border: solid thin;
  padding: 15px;
}

#messageText{
  position: fixed;
  right: 10px;
  background: rgba(18, 82, 0, 0.5);
  padding: 15px;
}

.question label, .question input, .question select, .question textarea{
  font-size: 200%;
}


.question input, .question textarea{
  width: 100%;
}

table.results td{
  background-color: lightblue;
}

table.results th.header{
  background-color: lightgreen;
  font-size: 200%;
  font-weight: normal;
}

table.results th.headerSortUp, table.results th.headerSortDown{
  font-size: 200%;
  font-weight: bold;
}

#application-title{
  background-color: lightgreen;
}
