.couchapprc
.DS_Store

.project

.settings/.jsdtscope

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

.couchappignore
*.swp
*.swo

build_android_app/bin

*.map

node_modules/*
